:root{


    /* ============Colors========= */
    /* ===========Color mode HSL (Hue, Saturation, Lightness)============== */

    /* 
    Purple: hsl(250, 66%, 75%)
    Blue: hsl(207, 90%, 72%)
    Pink: hsl(356, 66%, 75%)
    Teal: hsl (174, 63%, 62%) 
    */

    --first-hue: 250;
    --sat: 66%;
    --lig: 75%;
    --second-hue:219;
}

.shadow {
    box-shadow: 0 2px 15px rgb(0 0 0 / 68%);
}



/* Chat list */

.co-wrapper {
    background-color: #4a5162;
}

.ce-chats-container {
    background-color: #4a;
}